/**
 * @version    1.5
 * @package    Ferado
 * @author     WooRockets Team <support@woorockets.com>
 * @copyright  Copyright (C) 2014 WooRockets.com. All Rights Reserved.
 * @license    GNU/GPL v2 or later http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Websites: http://www.woorockets.com
 */
/*--------------------------------------------------------------
	CSS OVERVIEW
----------------------------------------------------------------
		1. Reset
		2. Typography
		3. Icons Font
		4. Elements
		5. Forms
		6. WordPress Recommended Classes
		7. Grid System
		8. Header
			8.1. Header - Top Menu
			8.2. Header - Main Menu
			8.3. Header version 2
		9. Content
		10. Blog Layout
			10.1. Blog Layout - Masonry
		11. Widget Style
		12. 404 Page
		13. Offline Page
		14. Footer
		
--------------------------------------------------------------*/
@import url(//fonts.googleapis.com/css?family=Lato:400,300,600,700,800);

/*  [ Reset ]
- - - - - - - - - - - - - - - - - - - - */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-x: hidden; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol,
ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
table, th, td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin-bottom: 24px;
	width: 100%;
}
th, td {
	padding: 6px;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
th {
	border-width: 0 1px 1px 0;
	font-weight: bold;
}
td {
	border-width: 0 1px 1px 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
q:before {
	content: none;
}
blockquote,
address,
q {
	border-left: 3px solid #f45245;
	padding-left: 15px;
	font-size: 13px;
}

/*  [ Typography ]
- - - - - - - - - - - - - - - - - - - - */
body,
button,
input,
select,
textarea {
	color: #353533;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	line-height: 1.625;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	color: #353533;
}
h1 {
	font-size: 3.6rem;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2.4rem;
}
h4 {
	font-size: 1.8rem;
}
h5 {
	font-size: 1.4rem;
}
h6 {
	font-size: 1.2rem;
}
p {
	margin-bottom: 1.5em;
}
b,
strong {
	font-weight: 600;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	margin: 20px !important;
	font-family: Consolas,"Andale Mono","Lucida Console","Lucida Sans Typewriter",Monaco,"Courier New",monospace;
	font-size: 12px !important;
}
blockquote.style-1,
blockquote.style-2 {
	background: #f6f6f6;
}
blockquote.style-2 {
	border-left-color: #f45245;
}
blockquote.style-3 {
	background: #f9f9f9;
	border: 1px solid #f2f2f2;
}
blockquote.style-5 {
	border-width: 2px 0;
	border-style: solid;
	border-color: #f2f2f2;
}
address {
	margin: 0 0 1.5em;
	font-style: italic;
	font-family: Geogria;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}

/*  [ Icons Font ]
- - - - - - - - - - - - - - - - - - - - */
@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?53959997');
	src: url('../fonts/fontello.eot?53959997#iefix') format('embedded-opentype'),
		url('../fonts/fontello.woff?53959997') format('woff'),
		url('../fonts/fontello.ttf?53959997') format('truetype'),
		url('../fonts/fontello.svg?53959997#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="wr-icon-"]:before, [class*=" wr-icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
}
.wr-icon-user:before          { content: '\e800'; } /* '' */
.wr-icon-edit:before          { content: '\e801'; } /* '' */
.wr-icon-wordpress:before     { content: '\e802'; } /* '' */
.wr-icon-twitter:before       { content: '\e803'; } /* '' */
.wr-icon-vimeo:before         { content: '\e804'; } /* '' */
.wr-icon-rss:before           { content: '\e805'; } /* '' */
.wr-icon-pinterest:before     { content: '\e806'; } /* '' */
.wr-icon-googleplus:before    { content: '\e807'; } /* '' */
.wr-icon-linkedin:before      { content: '\e808'; } /* '' */
.wr-icon-facebook:before      { content: '\e809'; } /* '' */
.wr-icon-yahoo:before         { content: '\e80a'; } /* '' */
.wr-icon-dribbble:before      { content: '\e80b'; } /* '' */
.wr-icon-skype:before         { content: '\e80c'; } /* '' */
.wr-icon-myspace:before       { content: '\e80d'; } /* '' */
.wr-icon-stumbleupon:before   { content: '\e80e'; } /* '' */
.wr-icon-youtube:before       { content: '\e80f'; } /* '' */
.wr-icon-flickr:before        { content: '\e810'; } /* '' */
.wr-icon-gallery:before       { content: '\e811'; } /* '' */
.wr-icon-video:before         { content: '\e812'; } /* '' */
.wr-icon-music:before         { content: '\e813'; } /* '' */
.wr-icon-tags:before          { content: '\e814'; } /* '' */
.wr-icon-quote:before         { content: '\e815'; } /* '' */
.wr-icon-comments:before      { content: '\e816'; } /* '' */
.wr-icon-calendar:before      { content: '\e817'; } /* '' */
.wr-icon-category:before      { content: '\e818'; } /* '' */
.wr-icon-angle-up:before      { content: '\e819'; } /* '' */
.wr-icon-search:before        { content: '\e81a'; } /* '' */
.wr-icon-phone:before         { content: '\e81b'; } /* '' */
.wr-icon-phone-squared:before { content: '\e81c'; } /* '' */
.wr-icon-unhappy:before       { content: '\e81d'; } /* '' */
.wr-icon-tumblr:before        { content: '\e81e'; } /* '' */

/*  [ Elements ]
- - - - - - - - - - - - - - - - - - - - */
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul,
ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
a {
	color: #f45245;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
}
a:hover,
a:focus,
a:active {
	color: #535333;
	outline: 0;
}
.cl:before,
.cl:after {
	content: '';
	display: table;
}
.cl:after {
	clear: both;
}
.textup {
	text-transform: uppercase;
}
.bg-blue {
	background-color: #3795e6 !important;
}
.bg-blue:hover {
	background-color: #2280d1 !important;
}
.bg-green {
	background-color: #68aa71 !important;
}
.bg-green:hover {
	background-color: #4a8c53 !important;
}
.bg-cyan {
	background-color: #68a8aa !important;
}
.bg-cyan:hover {
	background-color: #4d8d8f !important;
}
.bg-yellow {
	background-color: #c99542 !important;
}
.bg-yellow:hover {
	background-color: #ab7724 !important;
}
.bg-red {
	background-color: #f45245 !important;
}
.bg-red:hover {
	background-color: #d02f22 !important;
}
.bg-brown {
	background-color: #786d5b !important;
}
.bg-brown:hover {
	background-color: #5c513f !important;
}
.bg-purple {
	background-color: #65759b !important;
}
.bg-purple:hover {
	background-color: #49597f !important;
}

/*  [ Forms ]
- - - - - - - - - - - - - - - - - - - - */
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #f45245;
	color: #fff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	border: 0;
	font-size: 1.2rem;
	height: 38px;
	line-height: 42px;
	padding: 0 20px
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #191919;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #d7d7d7;
	border-radius: 0;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #191919;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 5px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

/*  [ WordPress Recommended Classes ]
- - - - - - - - - - - - - - - - - - - - */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	text-align: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
	font-style: oblique;
	font-size: 12px;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}
.gallery-caption {}
.bypostauthor {}
.sticky {}

/*  [ Grid System ]
- - - - - - - - - - - - - - - - - - - - */
.container {
	max-width: 1170px;
	margin: auto !important;
}
.container:before,
.container:after,
.site-content:before,
.site-content:after {
	content: "";
	display: table;
}
.container:after,
.site-content:after {
	clear: both;
}
.container,
.grid {
	width: 100%;
}
.grid:before,
.grid:after {
	content: '';
	display: table;
}
.grid:after {
	clear: both;
}
.grid .columns:last-child {
	margin-right: 0;
}
.columns {
	float: left;
	position: relative;
	margin-right: 2.12766%;
	margin-bottom: 2.12766%;
}
.columns.one    { width: 6.382978723404%;  }
.columns.two    { width: 14.893617021277%; }
.columns.three  { width: 23.404255319149%; }
.columns.four   { width: 31.914893617021%; }
.columns.five   { width: 40.425531914894%; }
.columns.six    { width: 48.936170212766%; }
.columns.seven  { width: 57.446808510638%; }
.columns.eight  { width: 65.957446808511%; }
.columns.nine   { width: 74.468085106383%; }
.columns.ten    { width: 82.978723404255%; }
.columns.eleven { width: 91.489361702128%; }
.columns.twelve { width: 100%;             }
.site-main {
	width: 850px;
	float: left;
}
.primary-sidebar,
.secondary-sidebar {
	width: 290px;
	float: left;
}
.full-width .site-main,
.boxed.full-width .site-main {
	width: 100%;
	overflow-x: hidden;
}
.left-content .site-main,
.left-right-content .site-main {
	float: right;
}
.left-content .secondary-sidebar,
.left-right-content .secondary-sidebar {
	margin-right: 30px;
}
.content-right .primary-sidebar,
.left-content-right .primary-sidebar,
.content-left-right .secondary-sidebar,
.content-left-right .primary-sidebar {
	margin-left: 30px;
}
.content3col .site-main {
	width: 550px;
}
.content3col .primary-sidebar,
.content3col .secondary-sidebar {
	width: 280px;
}
.left-content-right .site-main {
	margin-left: 310px;
}
.left-content-right .secondary-sidebar {
	margin-left: -860px;
}
.boxed #page {
	margin: auto;
	max-width: 1170px;
	background: #fff;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
	-moz-box-shadow:    0 0 20px rgba(0, 0, 0, .1);
	-ms-box-shadow:     0 0 20px rgba(0, 0, 0, .1);
	box-shadow:         0 0 20px rgba(0, 0, 0, .1);
}
.boxed .version-2 .header-mid .container,
.boxed .header-bot .container,
.boxed .site-footer .container,
.boxed.blog .site-content .container,
.boxed.single .site-content .container,
.boxed.archive .site-content .container,
.boxed.woocommerce .site-content .container {
	padding: 0 15px;
}
.boxed .version-2 .header-bot .container {
	padding: 0;
}
.boxed .site-header.version-2 #menu-main > li > a {
	border-left: 0;
	margin: 0;
}
.boxed .site-main {
	width: 830px;
}
.boxed.left-content .secondary-sidebar {
	margin-right: 20px;
}
.boxed.content-right .primary-sidebar {
	margin-left: 20px;
}
.boxed.content3col .site-main {
	width: 550px;
}
.boxed.left-content-right .site-main {
	margin-left: 295px;
}
.boxed.left-content-right .secondary-sidebar {
	margin-left: -845px;
}
.boxed.left-content-right .primary-sidebar,
.boxed.content-left-right .secondary-sidebar,
.boxed.content-left-right .primary-sidebar {
	margin-left: 15px;
}
.boxed.left-right-content .secondary-sidebar {
	margin-right: 15px;
}
.boxed .wr_fullwidth {
	margin: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/*  [ Header ]
- - - - - - - - - - - - - - - - - - - - */
.header-top {
	background: #353533;
}
.header-bot.sticky {
	z-index: 10000;
	position: fixed !important;
	top: 0 !important;
}
.header-bot.sticky #menu-main > li > a {
	padding: 30px 20px;
}
.header-bot.sticky #menu-main li:hover > .sub-menu {
	top: 86px;
}
.header-bot.sticky #menu-main li .sub-menu li .sub-menu {
	top: 0;
}
.header-bot.sticky .shop-cart .cart-control {
	padding: 33px 0 32px 10px;
}
.header-bot.sticky .shop-cart .cart-control span {
	top: 20px;
}
.header-bot.sticky .search-box {
	margin-top: 28px;
}
.header-bot.sticky .site-branding {
	margin: 4px 0;
}
.header-bot.sticky .shop-cart:hover .shop-item {
	top: 86px;
}
.admin-bar .header-bot.sticky {
	margin-top: 32px;
}
.menu {
	margin: 0;
}
.menu .sub-menu {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.menu li {
	list-style: none;
}
.menu li:hover > .sub-menu {
	opacity: 1;
	visibility: visible;
}
.site-branding {
	float: left;
}
.site-branding {
	width: 250px;
	margin: 20px 0;
	position: relative;
}
.site-branding a {
	display: inline-block;
}
.site-branding .site-title {
	font-size: 35px;
	text-transform: uppercase;
	line-height: 30px;
	font-weight: bold;
}
.site-branding .site-title a {
	color: #fff;
}
.site-branding .site-description {
	font-size: 12px;
	position: absolute;
	bottom: -2px;
	left: 90px;
	color: #d02f22;
	text-transform: uppercase;
	font-style: italic;
	white-space: nowrap;
}
.header-info {
	float: right;
	padding: 20px 0;
	color: #adadad;
}
.right-bot {
	float: right;
	color: #fff;
}
.search-box {
	margin-top: 46px;
	position: relative;
	float: left;
	z-index: 9999;
}
.search-box,
.search-box > .wr-icon-search,
.shop-cart .cart-control span,
.menu .sub-menu {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition:    all .3s ease-in-out;
	transition:         all .3s ease-in-out;
}
.search-box > .wr-icon-search {
	font-size: 18px;
	width: 32px;
	height: 32px;
	display: block;
	text-align: center;
	line-height: 32px;
	margin-left: 10px;
}
.search-box > .wr-icon-search:hover {
	background: #d02f22;
	cursor: pointer; 
}
.search-box .search-form {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 250px;
	right: 0;
	top: 79px;
}
.search-box.active .search-form {
	opacity: 1;
	visibility: visible;
	padding: 10px;
	background: #353533;
	z-index: 10;
}
.search-box .search-form > * {
	float: left;
}
.search-box .search-form input {
	border: 0;
	padding: 8px 10px;
	width: 189px;
}
.search-box .search-form button {
	height: 37px;
	line-height: 36px;
	padding: 0 12px;
}
.search-box .search-form button:hover {
	background: #d02f22;
}

/*  [ Header - Top Menu ]
- - - - - - - - - - - - - - - - - - - - */
.header-top {
	font-size: 12px;
}
.header-top .hotline {
	float: left;
	padding: 10px 0;
	color: #888;
}
.top-info {
	background: #2e2e2c;
	color: #fff;
	float: left;
	padding: 18px;
	font-size: 13px;
}
.top-navigation {
	float: right;
	text-align: right;
}
#menu-top li {
	float: left;
	position: relative;
}
#menu-top li a {
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 18px;
}
#menu-top > li > a {
	background: #2e2e2c;
	border-left: 1px solid #353533;
}
#menu-top > li > a:hover {
	background: #f45245;
}
#menu-top li .sub-menu {
	top: 57px;
	background: #2e2e2c;
	width: 160px;
	margin: 0;
	right: 0;
	text-align: left;
	z-index: 999;
}
#menu-top li .sub-menu li {
	width: 100%;
}
#menu-top li .sub-menu li a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #353533;
}
#menu-top li .sub-menu li a:hover {
	background: #1a1a1a;
}
#menu-top li .sub-menu li:last-child > a {
	border: 0;
}
#menu-top li .sub-menu ul {
	right: 160px;
	top: 0;
}

/*  [ Header - Main Menu ]
- - - - - - - - - - - - - - - - - - - - */
.header-bot {
	background: #f45245;
}
.main-navigation {
	float: right;
}
.main-navigation .menu-toggle,
.main-navigation .dashicons {
	display: none;
}
#menu-main li {
	display: inline-block;
	position: relative;
}
#menu-main li a {
	padding: 50px 20px;
	color: #d02f22;
	font-size: 16px;
	font-weight: 400;
	display: block;
	text-transform: uppercase;
}
#menu-main li a:hover,
#menu-main li.current-menu-item > a,
#menu-main li .sub-menu li a:hover {
	color: #fff;
}
#menu-main > li.current-menu-item > a {
	font-weight: 600;
	background-image: -moz-linear-gradient(bottom, #f45245 0%, #db4a3e 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #f45245 0%, #db4a3e 100%); /* gradient overlay */
	background-image: -ms-linear-gradient(bottom, #f45245 0%, #db4a3e 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #f45245 0%, #db4a3e 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, #f45245 0%, #db4a3e 100%); /* gradient overlay */
	background-image: none\9;
}
#menu-main li .sub-menu {
	width: 220px;
	background: #fff;
	text-align: left;
	z-index: 999;
	margin-left: 0;
	top: 160px;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0 0 2px 0 rgba(0, 0, 0, 0.2);
	-ms-box-shadow:     0 0 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow:         0 0 2px 0 rgba(0, 0, 0, 0.2);
}
#menu-main li:hover > .sub-menu {
	top: 126px;
	top: 122px\9;
}
#menu-main li .sub-menu li {
	width: 100%;
}
#menu-main li .sub-menu li a {
	color: #979797;
	border-bottom: 1px solid #f0f0f0;
	display: block;
	padding: 12px 10px;
	text-transform: none;
	font-size: 13px;
}
#menu-main li .sub-menu li a:hover {
	background: #f0f0f0;
	color: #f45245;
	padding-left: 20px;
}
#menu-main li .sub-menu li:last-child > a {
	border-color: transparent;
}
#menu-main li .sub-menu li ul a:hover {
	color: #353533;
}
#menu-main li .sub-menu li .sub-menu {
	left: 222px;
	left: 218px\9;
	top: 0;
}
#menu-main li .sub-menu li.menu-rtl > .sub-menu {
	left: -223px;
	left: -220px\9;
}

/*  [ Header version 2 ]
- - - - - - - - - - - - - - - - - - - - */
.site-header.version-2 .header-top {
	background: #f1f1f1;
	border-top: 4px solid #f45245;
}
.site-header.version-2 .header-top .top-info,
.site-header.version-2 #menu-top > li > a {
	background: none;
}
.site-header.version-2 #menu-top > li > a {
	color: #a6a6a6;
	border: 0;
}
.site-header.version-2 #menu-top > li > a:hover {
	background: #f45245;
	color: #fff;
}
.site-header.version-2 .header-top .top-info,
.site-header.version-2 #menu-main li .sub-menu li a:hover {
	color: #f45245;
}
.site-header.version-2 .header-bot {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background: none;
}
.site-header.version-2 .header-bot.sticky {
	background: #fff;
}
.site-header.version-2 .main-navigation,
.site-header.version-2 #menu-main li {
	float: left;
}
.site-header.version-2 #menu-main > li > a {
	padding: 15px 25px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-top: 3px solid transparent;
	margin-top: -1px;
	margin-right: -1px;
}
.site-header.version-2 #menu-main > li > a:hover,
.site-header.version-2 #menu-main > li.current-menu-item > a {
	background: #f8f8f8;
	color: #f45245;
	border-top-color: #f45245;
}
.site-header.version-2 #menu-main li .sub-menu {
	border: 1px solid #e5e5e5;
	top: 72px;
}
.site-header.version-2 #menu-main li:hover > .sub-menu {
	top: 58px;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	-ms-box-shadow:     none;
	box-shadow:         none;
}
.site-header.version-2 #menu-main li .sub-menu li .sub-menu {
	top: -1px;
	left: 218px;
}
.site-header.version-2 .search-form > * {
	float: left;
	height: 58px;
	background: #f8f8f8;
}
.site-header.version-2 .search-form input {
	border: 0;
	border-left: 1px solid #e5e5e5;
	padding: 0 10px 0 20px;
	color: #a6a6a6;
}
.site-header.version-2 .search-form input:focus {
	color: #353533;
}
.site-header.version-2 .search-form button {
	border-right: 1px solid #e5e5e5;
	color: #f45245;
	margin-left: -2px;
	font-size: 20px;
	padding: 0 10px 0 0;
}

/*  [ Content ]
- - - - - - - - - - - - - - - - - - - - */
.blog .site-content,
.single .site-content,
.category .site-content > .container,
.tag .site-content > .container {
	padding-top: 40px;
}
.site-content {
	margin: 0 0 50px;
}
.page-title {
	padding: 50px 0;
	margin-bottom: 50px;
}
.page-title.center * {
	text-align: center;
}
.page-title.left * {
	text-align: left;
}
.page-title.right * {
	text-align: right;
}
.page-title h1 {
	font-size: 60px;
	text-transform: uppercase;
	color: #f45245;
}
#pageloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	overflow: hidden;
}
#loader,
#loader:before,
#loader:after {
	border: 3px solid transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius:    50%;
	-ms-border-radius:     50%;
	border-radius:         50%;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-top-color: #f45245;
	z-index: 11;
	-webkit-animation: spin 1.7s linear infinite;
	-moz-animation:    spin 1.7s linear infinite;
	-ms-animation:     spin 1.7s linear infinite;
	-o-animation:      spin 1.7s linear infinite;
	animation:         spin 1.7s linear infinite;
}
#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-top-color: #cc9933;
	-webkit-animation: spin-reverse .6s linear infinite;
	-moz-animation:    spin-reverse .6s linear infinite;
	-ms-animation:     spin-reverse .6s linear infinite;
	-o-animation:      spin-reverse .6s linear infinite;
	animation:         spin-reverse .6s linear infinite;
}
#loader:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-top-color: #68a8aa;
	-webkit-animation: spin 1s linear infinite;
	-moz-animation:    spin 1s linear infinite;
	-ms-animation:     spin 1s linear infinite;
	-o-animation:      spin 1s linear infinite;
	animation:         spin 1s linear infinite;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform:    rotate(0deg);
		-ms-transform:     rotate(0deg);
		-o-transform:      rotate(0deg);
		transform:         rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform:    rotate(360deg);
		-ms-transform:     rotate(360deg);
		-o-transform:      rotate(360deg);
		transform:         rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform:    rotate(0deg);
		-ms-transform:     rotate(0deg);
		-o-transform:      rotate(0deg);
		transform:         rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform:    rotate(360deg);
		-ms-transform:     rotate(360deg);
		-o-transform:      rotate(360deg);
		transform:         rotate(360deg);
	}
}
@-webkit-keyframes spin-reverse {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform:    rotate(0deg);
		-ms-transform:     rotate(0deg);
		-o-transform:      rotate(0deg);
		transform:         rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		-moz-transform:    rotate(-360deg);
		-ms-transform:     rotate(-360deg);
		-o-transform:      rotate(-360deg);
		transform:         rotate(-360deg);
	}
}
@keyframes spin-reverse {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform:    rotate(0deg);
		-ms-transform:     rotate(0deg);
		-o-transform:      rotate(0deg);
		transform:         rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		-moz-transform:    rotate(-360deg);
		-ms-transform:     rotate(-360deg);
		-o-transform:      rotate(-360deg);
		transform:         rotate(-360deg);
	}
}
#pageloader .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #000;
	z-index: 10;
}
#pageloader .loader-section.left {
	left: 0;
}
#pageloader .loader-section.right {
	right: 0;
}
.loaded #pageloader .loader-section.left {
	-webkit-transform: translateX(-100%);
	-moz-transform:    translateX(-100%);
	-ms-transform:     translateX(-100%);
	-o-transform:      translateX(-100%);
	transform:         translateX(-100%);
	-webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
	-moz-transition:    all .7s .3s cubic-bezier(.645, .045, .355, 1);
	transition:         all .7s .3s cubic-bezier(.645, .045, .355, 1);
}
.loaded #pageloader .loader-section.right {
	-webkit-transform: translateX(100%);
	-moz-transform:    translateX(100%);
	-ms-transform:     translateX(100%);
	-o-transform:      translateX(100%);
	transform:         translateX(100%);
	-webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
	-moz-transition:    all .7s .3s cubic-bezier(.645, .045, .355, 1);
	transition:         all .7s .3s cubic-bezier(.645, .045, .355, 1);
}
.loaded #loader {
	opacity: 0;
	-webkit-transition: all .3s ease-out;
	-moz-transition:    all .3s ease-out;
	transition:         all .3s ease-out;
}
.loaded #pageloader {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	-moz-transform:    translateY(-100%);
	-ms-transform:     translateY(-100%);
	-o-transform:      translateY(-100%);
	transform:         translateY(-100%);
	-webkit-transition: all .3s 1s ease-out;
	-moz-transition:    all .3s 1s ease-out;
	transition:         all .3s 1s ease-out;
}

/*  [ Blog Layout ]
- - - - - - - - - - - - - - - - - - - - */
.hentry:before,
.hentry:after {
	display: table;
	content: "";
}
.hentry:after {
	clear: both;
}
.hentry,
.single .site-main {
	background: #fff;
	margin-bottom: 30px;
}
.hentry.page {
	margin-bottom: 0;
}
.entry-thumb {
	background: linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%) repeat 0 0;
	background: -webkit-linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%) repeat 0 0;
	background: -moz-linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%) repeat 0 0;
	background: -ms-linear-gradient(-45deg, #f3cf3f 0%, #f33f58 100%) repeat 0 0;
	margin-bottom: 25px;
	position: relative;
}
.entry-thumb .posted-on {
	position: absolute;
	width: 76px;
	background: #f45245;
	z-index: 10;
	left: 10px;
	top: 10px;
	text-align: center;
}
.entry-thumb .posted-on span {
	display: block;
	color: #fff;
	text-transform: uppercase;
}
.entry-thumb .posted-on span.date {
	padding: 10px 0 0;
	font-size: 40px;
	line-height: 46px;
}
.entry-thumb .posted-on span.month {
	padding: 0 0 10px;
}
.entry-thumb .posted-on span.year {
	background: #353533;
	font-size: 16px;
	padding: 6px 0;
}
.entry-thumb img,
.entry-thumb iframe {
	width: 100%;
}
.entry-thumb > iframe {
	margin-bottom: -10px;
}
.entry-thumb input[type="password"] {
	border: 2px solid #ccc;
	height: 48px;
	margin-left: 25%;
	padding: 10px;
	width: 50%
}
.entry-thumb > a {
	position: relative;
	backface-visibility: hidden;
	display: block;
	width: 100%;
	height: 100%;
}
.entry-thumb:hover > a {
	opacity: .9;
}
.entry-thumb > a:before,
.entry-thumb > a:after {
	bottom: 30px;
	content: "";
	left: 30px;
	opacity: 0;
	position: absolute;
	right: 30px;
	top: 30px;
	pointer-events: none;
	-webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	-moz-transition:    opacity 0.35s ease 0s, transform 0.35s ease 0s;
	transition:         opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
.entry-thumb > a:before {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	-webkit-transform: scale(0, 1);
	-moz-transform:    scale(0, 1);
	-ms-transform:     scale(0, 1);
	-o-transform:      scale(0, 1);
	transform:         scale(0, 1);
}
.entry-thumb > a:after {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: scale(1, 0);
	-moz-transform:    scale(1, 0);
	-ms-transform:     scale(1, 0);
	-o-transform:      scale(1, 0);
	transform:         scale(1, 0);
}
.entry-thumb:hover > a:before,
.entry-thumb:hover > a:after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform:    scale(1);
	-ms-transform:     scale(1);
	-o-transform:      scale(1);
	transform:         scale(1);
}
.post .entry-content {
	color: #7d7d7d;
}
.single .post .entry-title {
	padding: 0;
}
.format-video .wr-element-video,
.format-audio .wp-audio-shortcode {
	margin: 0 !important;
}
.format-audio .mejs-container {
	height: 60px !important;
}
.format-audio .mejs-container .mejs-controls {
	top: 0;
	margin: auto;
}
.format-quote .quote-content {
	position: relative;
	padding: 30px;
	text-align: center;
	font-size: 18px;
	font-style: italic;
}
.format-quote .quote-content > p {
	margin-bottom: 0;
}
.quote-author:before,
.quote-author:after {
	content: "-";
}
.format-audio .entry-thumb audio {
	width: 100%;
	background: #212014;
	margin-bottom: 25px;
}
.entry-title {
	margin-bottom: 15px;
	line-height: 1;
	position: relative;
	font-weight: 700;
	text-transform: uppercase;
}
.entry-title a {
	color: #353533;
	font-size: 36px;
	font-weight: 600;	
}
.entry-title a:hover,
.entry-meta a:hover,
.more-link {
	color: #f45245;
}
.entry-meta {
	font-size: 13px;
	margin-bottom: 20px;
}
.entry-meta a,
.more-link:hover  {
	color: #353533;
}
.entry-meta > span {
	margin-right: 25px;
}
.more-link {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 20px;
	font-weight: 600;
}
.small-thumb > *:not(.quote-content) {
	float: left;
}
.small-thumb .entry-thumb {
	width: 34%;
	margin-right: 4%;
	margin-top: 0;
}
.small-thumb .entry-content {
	width: 62%;
}
.small-thumb .entry-title a {
	font-size: 26px;
	line-height: 30px;
	display: block;
}
.single .post {
	padding: 0;
	border-bottom: 1px solid #e6e6e6;
}
.single-nav {
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e6e6e6;
}
.single-nav > * {
	width: 50%;
	float: left;
	font-size: 14px;
}
.single-nav .next {
	text-align: right;
	float: right;
}
.single-nav span {
	font-size: 13px;
}
.tags-links {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	font-size: 14px;
}
.tags-links a {
	color: #555;
	background: #f2f2f2;
	display: inline-block;
	padding: 4px 20px;
	margin-left: 6px;
	-webkit-border-radius: 1px;
	-moz-border-radius:    1px;
	border-radius:         1px;
}
.tags-links a:hover {
	background: #ddd;
}
.page-numbers {
	margin: 0;
	list-style: none;
	width: 100%;
	text-align: right;
}
.page-numbers li {
	display: inline-block;
	margin-left: 5px;
}
.page-numbers li a {
	display: block;
	color: #666;
	font-size: 12px;
}
.page-numbers li span.current,
.page-numbers li a:hover,
.page-numbers li a {
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
}
.page-numbers li span.current,
.page-numbers li a:hover,
.page-numbers li a.prev,
.page-numbers li a.next {
	display: block;
	background: #f45245;
	color: #fff;
}
.page-numbers li a.prev:hover,
.page-numbers li a.next:hover {
	background: #d02f22;
}
.page-numbers li a.next {
	left: auto;
	right: 0;
}
.comments-area {
	font-size: 14px;
}
.comments-title {
	padding-bottom: 15px;
}
.comments-area h3 {
	font-size: 26px;
	color: #353533;
	text-transform: uppercase;
	font-weight: 600;
}
.comments-area ol {
	list-style: none;
	margin: 0;
	position: relative;
}
.comments-area ol:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 35.5px;
	background: #e2e2e2;
}
.comments-area ol.children:before {
	top: -40px;
}
.comments-area .comment-list > li {
	margin-top: 20px;
	overflow: hidden;
}
.comments-area .comment-body {
	background: #fff;
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 10;
}
.comments-area .comment-list > li,
.comments-area .comment-body .comment-meta {
	overflow: hidden;
}
.comments-area .comment-body .comment-avatar {
	float: left;
	margin-right: 15px;
	text-align: center;
	position: relative;
}
.comments-area .children .comment-body .comment-avatar:before {
	content: "";
	position: absolute;
	width: 18px;
	height: 1px;
	background: #e2e2e2;
	top: 35.5px;
	left: -25px;
}
.comments-area .comment-body .comment-author {
	font-size: 14px;
	color: #333;
	font-style: normal;
	font-weight: 500;
	margin-right: 10px;
}
.comments-area .comment-body .comment-meta time {
	color: #999;
	font-size: 12px;
}
.comments-area .comment-body .comment-content {
	margin-top: 10px;
	padding-left: 87px;
	color: #666;
}
.comments-area .comment-body footer {
	padding-left: 75px;
}
.comments-area .action-link a {
	position: relative;
	color: #fff;
	font-size: 12px;
	display: block;
	background: #c8c8c8;
	margin-top: 7px;
	padding: 3px 0;
}
.comments-area .action-link a:hover {
	background: #f45245;
}
.comment-respond .comment-form .form-submit input[type="submit"]:hover {
	background: #3d3d3d;
}
.comments-area .children li {
	margin-left: 60px;
	margin-top: 40px;
}
.comment-respond .comment-reply-title {
	margin: 40px 0 20px;
}
.comment-respond .comment-form {
	background: #f8f8f8;
	padding: 25px;
	overflow: hidden;
}
.comment-respond .comment-form label {
	font-weight: 500;
	color: #3d3d3d;
	margin-bottom: 5px;
	display: block;
}
.comment-respond .comment-form .required {
	color: #ff0000;
}
.comment-respond .comment-form .comment-form-author,
.comment-respond .comment-form .comment-form-email,
.comment-respond .comment-form .comment-form-url {
	width: 32%;
	float: left;
}
.comment-respond .comment-form .comment-form-email,
.comment-respond .comment-form .comment-form-url {
	margin-left: 2%;
}
.comment-respond .comment-form [class*="comment-form"] input {
	height: 40px;
}
.comment-respond .comment-form [class*="comment-form"] input,
.comment-respond .comment-form .comment-form-comment textarea {
	padding: 10px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 0;
}
.comment-respond .comment-form [class*="comment-form"] input:focus,
.comment-respond .comment-form .comment-form-comment textarea:focus {
	border-color: #f45245;
}
.comment-respond .comment-form .form-submit input[type="submit"] {
	background: #f45245;
	display: block;
	height: 40px;
	text-transform: uppercase;
	border-radius: 0;
	float: right;
} 
/*  [ Blog Layout - Masonry ]
- - - - - - - - - - - - - - - - - - - - */
.blog-masonry {
	position: relative;
	margin: 0 -1%;
}
.blog-masonry .grid-sizer {
	width: 25%;
	height: 0;
	margin-bottom: 0;
}
.blog-masonry .hentry {
	float: left;
	overflow: hidden;
	position: relative;
	width: 23%;
	margin: 0 1% 1%;
	float: left;
	text-align: center;
	background: #f8f8f8;
	-webkit-transition: height 5s ease-in-out 0s;
	-moz-transition:    height 5s ease-in-out 0s;
	transition:         height 5s ease-in-out 0s;
}
.blog-masonry .hentry.large {
	width: 48%;
}
.blog-masonry .entry-thumb {
	margin-top: 0;
}
.blog-masonry .hentry .entry-title a {
	font-size: 26px;
}
.blog-masonry .hentry .entry-meta .cat-links {
	display: none;
}
.blog-masonry .hentry .entry-content {
	padding: 0 25px;
}
.blog-masonry .hentry .entry-content > p {
	margin-bottom: 0;
}
.blog-masonry .hentry .more-link {
	background: #ededed;
	margin: 20px -25px 0;
	padding: 5px 0;
}
.blog-masonry .hentry.format-quote .more-link {
	font-style: normal;
}
.blog-masonry .hentry.large .more-link {
	padding: 10px 0;
}
.blog-masonry .hentry .more-link:hover {
	background: #f45245;
	color: #fff;
}

/*  [ Widget Style ]
- - - - - - - - - - - - - - - - - - - - */
.widget {
	margin: 0 0 30px;
	color: #353533;
	font-size: 13px;
}
.widget select,
.widget input {
	padding: 10px;
	border: 1px solid #e5e5e5;
	font-size: 12px;
}
.widget select {
	background: none;
	width: 100%;
}
.widget input {
	width: calc( 100% - 30px );
}
.widget input:focus {
	border-color: #f45245;
}
.widget_search .search-submit {
	display: none;
}
.widget a,
.widget ul li a:hover {
	color: #f45245;
}
.widget-title {
	color: #353533;
	font-size: 26px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.widget a:hover,
.widget-title a,
.widget ul li a {
	color: #353533;
}
.widget .textwidget,
.widget .tagcloud {
	overflow: hidden;
}
.widget ul {
	list-style: none;
	margin: 0;
}
.widget ul li {
	position: relative;
	padding: 8px 0;
}
.widget ul ul li {
	position: relative;
	padding-left: 20px;
}
.widget ul ul li:before,
.widget ul ul li:after {
	content: "";
	position: absolute;
	background: #e2e2e2;
}
.widget ul ul li:before {
	left: 0;
	top: 18px;
	width: 12px;
	height: 1px;
}
.widget ul ul li:after {
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
}
.widget ul.children,
.widget ul.sub-menu {
	margin-top: 10px;
	margin-bottom: -8px;
}
.widget .menu .sub-menu {
	opacity: 1;
	visibility: visible;
	position: inherit;
}
.widget #wp-calendar caption {
	background: #f45245;
	color: #fff;
	padding: 10px;
	text-transform: uppercase;
}
.widget #wp-calendar caption,
.widget #wp-calendar th,
.widget #wp-calendar td {
	text-align: center;
}
.widget .tagcloud a {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	font-size: 13px !important;
	padding: 4px 15px;
	background: #f45245;
	color: #fff;
}
.widget .tagcloud a:hover {
	background: #d02f22;
}
.widget_search {
	background: none;
}
.widget_search .widget-title {
	display: none;
}
.widget_search input {
	width: calc(100% - 20px);
}
.null-instagram-feed.widget ul li:before {
	display: none;
}
.null-instagram-feed.widget ul li {
	margin: 0;
	padding: 0 !important;
	float: left;
}
.null-instagram-feed.widget ul li img {
	width: 88px;
}
.null-instagram-feed.widget ul:hover li a {
	opacity: .5;
}
.null-instagram-feed.widget ul li:hover a {
	opacity: 1;
}
.newsletter-widget form {
	margin-top: 15px;
	overflow: hidden;
}
.newsletter-widget form > p {
	float: left;
}
.newsletter-widget form input {
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	-ms-border-radius:     0;
	border-radius:         0;
}
.newsletter-widget form input.newsletter-email {
	width: 178px;
}
.newsletter-widget form input.newsletter-submit {
	height: 41.5px;
	line-height: 40px;
	padding: 0 15px;
	text-transform: uppercase;
	width: auto;
	height: 36px\9;
	line-height: 34px\9;
}

/*  [ 404 Page ]
- - - - - - - - - - - - - - - - - - - - */
.error-404 {
	padding: 130px 0;
	text-align: center;
}
.error404 .site-main {
	width: 100%;
}
.error-404 .error-title {
	font-size: 42px;
	line-height: 50px;
	font-weight: 300;
}
.error-404 h1 {
	font-size: 420px;
	font-weight: 800;
	color: #f45245;
	line-height: 0;
	margin-bottom: 25px;
}
.error-404 h1 span {
	display: inline-block;
	position: relative;
	width: 280px;
	height: 306px;
	background: #f45245;
	-webkit-border-radius: 50%;
	-moz-border-radius:    50%;
	-ms-border-radius:     50%;
	border-radius:         50%;
}
.error-404 h1 span:before {
	content: "";
	position: absolute;
	background: url('../img/404.png') no-repeat center center;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
}
.error404 p {
	color: #979797;
}
.error-404 .search-form {
	overflow: hidden;
	margin: 30px 0;
	display: inline-block;
	text-align: center;
}
.error-404 input {
	float: left;
	height: 42px;
	padding: 0 15px;
	background: #e9e9e9;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	-ms-border-radius:     0;
	border-radius:         0;
}
.error-404 input.search-submit {
	background: #f45245;
}
.error-404 input.search-submit:hover {
	background: #d02f22;
}
.error-404 input.search-field {
	width: 250px;
}
.error-404 input.search-field:focus {
	border-color: #f45245;
}
.error-404 input.search-submit {
	height: 44px;
	padding: 0 40px;
}

/*  [ Offline Page ]
- - - - - - - - - - - - - - - - - - - - */
.offline #page {
	background: #fff;
	height: 100%;
	width: 100%;
}
.offline .site-content {
	margin: 0;
	width: 100%;
	height: 100%;
}
.offline .site-header,
.offline .site-footer,
.offline .content-bottom,
.offline .breadcrumbs {
	display: none;
}
.page-offline {
	left: 50%;
	position: relative;
	text-align: center;
	top: 50%;
	z-index: 9;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform:    translateX(-50%) translateY(-50%);
	-ms-transform:     translateX(-50%) translateY(-50%);
	-o-transform:      translateX(-50%) translateY(-50%);
	transform:         translateX(-50%) translateY(-50%);
}
.page-offline h3 {
	margin-bottom: 30px;
	font-size: 42px;
	font-weight: 300;
}
.page-offline .countdown {
	margin: 60px 0 0;
	list-style: none;
	overflow: hidden;
	display: block
}
.page-offline .countdown li {
	display: inline-block;
	width: 120px;
	height: 120px;
	padding-top: 14px;
	text-align: center;
	border: 3px solid #353533;
	margin: 5px;
	font-size: 42px;
	text-transform: uppercase;
	color: #353533;
	font-weight: bold;
	position: relative;
	-webkit-transition: all .35s ease 0s;
	-moz-transition:    all .35s ease 0s;
	transition:         all .35s ease 0s;
}
.page-offline .countdown li:before,
.page-offline .countdown li:after {
	content: "";
	position: absolute;
}
.page-offline .countdown li:before,
.page-offline .countdown li:after {
	bottom: -8px;
	content: "";
	left: -8px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	right: -8px;
	top: -8px;
	-webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	-moz-transition:    opacity 0.35s ease 0s, transform 0.35s ease 0s;
	transition:         opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
.page-offline .countdown li:before {
	border-bottom: 4px solid #353533;
	border-top: 4px solid #353533;
	-webkit-transform: scale(0, 1);
	-moz-transform:    scale(0, 1);
	-ms-transform:     scale(0, 1);
	-o-transform:      scale(0, 1);
	transform:         scale(0, 1);
}
.page-offline .countdown li:after {
	border-left: 4px solid #353533;
	border-right: 4px solid #353533;
	-webkit-transform: scale(1, 0);
	-moz-transform:    scale(1, 0);
	-ms-transform:     scale(1, 0);
	-o-transform:      scale(1, 0);
	transform:         scale(1, 0);
}
.page-offline .countdown li:hover:before,
.page-offline .countdown li:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform:    scale(1);
	-ms-transform:     scale(1);
	-o-transform:      scale(1);
	transform:         scale(1);
}
.page-offline .countdown li span {
	display: block;
	font-size: 12px;
}
.page-offline footer ul {
	text-align: center;
	margin: 50px 0 0;
}
.page-offline footer .social li {
	margin: 5px;
	display: inline-block;
}
.page-offline footer .social li a {
	background: #f45245;
	width: 32px;
	height: 32px;
	display: block;
	text-align: center;
	line-height: 32px;
	color: #fff;
}
.page-offline footer .social li a:hover {
	background: #353533;
}

/*  [ Footer ]
- - - - - - - - - - - - - - - - - - - - */
.site-footer .top {
	background: #f45245;
	padding: 15px 0;
}
.site-footer .top .social {
	float: right;
	list-style: none;
	margin: 0;
}
.site-footer .top .social li {
	display: inline-block;
	margin-left: 16px;
}
.site-footer .top .social li a {
	color: #fff;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #d02f22;
	display: block;
	font-size: 14px;
}
.site-footer .top .social li a:hover {
	background: #fff;
	color: #d02f22;
}
.breadcrumbs {
	color: #999;
	float: left;
	margin: 6px 0 0;
}
.breadcrumbs li {
	list-style: none;
	display: inline-block;
	font-size: 12px;
	margin-right: 10px;
	position: relative;
}
.breadcrumbs li.current,
.breadcrumbs li a {
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	background: #d02f22;
	padding: 3px 10px;
}
.site-footer .mid {
	background: #353533;
	padding: 80px 0 30px;
}
.site-footer .widget-title,
.site-footer .widget .widget-title a {
	color: #fff;
	font-size: 20px;
}
.site-footer .widget,
.site-footer .widget a {
	color: #a3a3a3;
}
.site-footer .widget a:hover {
	color: #f45245;
}
.site-footer .widget ul li {
	padding: 4px 0 4px 12px;
	position: relative;
}
.site-footer .widget ul li:before {
	content: "";
	position: absolute;
	width: 3px;
	height: 3px;
	left: 0;
	top: 13px;
	background: #a3a3a3;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
}
.site-footer .widget ul li:hover:before {
	background: #f45245;
}
.site-footer .widget ul li:after {
	display: none;
}
.site-footer .widget .tagcloud a {
	color: #fff;
}
.site-footer .widget ul.children,
.site-footer .widget ul.sub-menu {
	margin-bottom: -4px;
	margin-top: 5px;
}
.site-footer .widget select,
.site-footer .widget input {
	border-color: transparent;
}
.site-footer .widget select,
.site-footer .widget input[type="text"] {
	background: #fff;
}
.site-footer .bot {
	background: #2e2e2c;
	text-transform: uppercase;
	padding: 32px 0;
	color: #9c9c9c;
}
.site-footer .bot .site-info {
	float: left;
}
.site-footer .bot .bot-right {
	float: right;
}
.back-to-top {
	display: none;
}
.back-to-top i {
	width: 32px;
	height: 32px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	background: #191919;
	color: #fff;
	line-height: 30px;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition:    all .3s ease-in-out 0s;
	transition:         all .3s ease-in-out 0s;
}
.back-to-top i:hover {
	background: #f45245;
	color: #fff;
}

/*  [ 3rd party plugin ]
- - - - - - - - - - - - - - - - - - - - */
.ui-dialog {
	border-radius: 0;
	left: 50% !important;
	margin-left: -285px !important;
	width: 570px !important;
	font-family: 'Lato', sans-serif;
	background: #fff;
}
.ui-dialog .ui-dialog-titlebar {
	text-align: center;
	background: #ededed;
	padding: 30px 0;
	border: 0;
}
.ui-dialog .ui-dialog-title {
	font-size: 16px;
	color: #f45245;
	text-transform: uppercase;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	background: none;
	right: 5px;
	top: -15px;
}
.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:active,
.ui-dialog .ui-dialog-titlebar-close:focus {
	border: 0;
	outline: none;
}
.ui-dialog .ui-dialog-titlebar-close:before {
	content: "\f335";
	font-family: dashicons;
	position: absolute;
	color: #bbb;
	font-size: 18px;
}
.ui-dialog .ui-dialog-titlebar-close:hover:before {
	color: #f45245;
}
.ajax-login-default-form-container input[type="password"],
.ajax-login-default-form-container input[type="text"] {
	width: 100%;
	height: 46px;
	border: 2px solid #ededed;
	color: #a3a3a3;
	font-style: italic;
}
.ajax-login-default-form-container label {
	color: #353533;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 10px;
}
.ajax-login-default-form-container input[type="submit"] {
	background: #f45245;
	border: 0 none;
	border-radius: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 0;
	padding: 22px 0;
	text-shadow: none;
	text-transform: uppercase;
	width: 100%;
}
.ajax-login-default-form-container input[type="submit"]:hover {
	color: #fff;
	background: #d02f22;
}

/*  [ Search page ]
- - - - - - - - - - - - - - - - - - - - */
.search-results [class*="-sidebar"],
.search-no-results [class*="-sidebar"] {
	display: none;
}
.search-results .site-main,
.search-no-results .site-main {
	width: 850px !important;
	float: none;
	margin: auto;
}
.search-results article.hentry {
	margin-bottom: 20px;
}
.search-results .page-title, .search-no-results .page-title {
	text-align: center;
}
.search-results article.hentry .entry-header {
	display: block !important
}
.search-results .site-content {
	margin: 0 0 50px !important;
}
.no-results {
	text-align: center;
}
.no-results .page-content > p {
	font-size: 16px;
}
.no-results .search-form {
	display: inline-block;
}
.no-results .search-form > * {
	float: left;
}
.no-results .search-form .search-field {
	height: 26px;
	border-right: 0;
	width: 200px;
}